<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    

    <add name="CommonEntities" 
         connectionString="data source=heartbeat.database.windows.net;initial catalog=NexgenEco;persist security info=True;user id=umais;password=Tw1stone23;" />
  </connectionStrings>
</configuration>