
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h1>This is a first .NET Core View</h1>
    <div>
    <label>Name:</label>
    <input type="text" id="myname" />
        </div>
</body>
</html>
